.title{ /*maybe implement dynamic sizing*/
    font-size: 75px;
    text-align: center;
}

.wrapper {   
    display: flex;
    box-shadow: 0px 3px 10px rgb(187, 187, 187);
    border-radius: 100px;
    background-color: white;
    align-content: space-evenly;
}

.postcodePrompt{
    text-align: center;
    font-size: xx-large;
    font-weight: 300;
    padding-bottom: 30px;
}

.postcodeInputBar{
    border: 0px;
    border-radius: 100px;
    width: min(70vw, 600px);
    height:40px;
    font-size: medium;
    padding-left: 20px;
}

.postcodeInputBar::placeholder{
    color: rgb(158, 158, 158);
}

.postcodeInputBar:focus{
    outline: none;
    background: white;
    
}

.submitButton {
    border: none;
    background-color: transparent;
    border-radius: 20px;
    opacity: 50%;
    padding-right: 20px;
    text-align: center;
}

.submitButton:hover{
    opacity: 30%;
}

.postcodeInputFlex{
    display: flex;
    justify-content: center;
    padding-bottom:50px;
}

.errorMessage{
    text-align: center;

}

.tableDiv{
    display: flex;
    justify-content: center;
    font-size: x-large;
}

.tableCell{
    padding-block: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.tableCellLineID{
    padding-block: 10px;
    padding-left: 20px;
    padding-right: 20px;
    text-transform: capitalize;
}

.tableHeading{
    padding-block: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgb(179, 179, 179);
    text-align: left;
}

.table {
    border-collapse: collapse;
    box-shadow: 0px 3px 10px rgb(187, 187, 187);
    
}