.MapContainer{
    margin: auto;
    box-shadow: 0px 3px 10px rgb(187, 187, 187);
    margin-bottom: 80px;
    height: 400px;
    width: min(600px, 70vw);
}



.mapPrompt{
    text-align: center;
    font-size: xx-large;
    font-weight: 300;
    padding-bottom: 50px;
}


